{
  "tabWidth": 4,
  "useTabs": true,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 1000,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
